<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_5IzZECOTEee69bN6ehHnlw" specification="interface:&#xA;// Define events and&#xA;// and variables here" name="default">
    <regions xmi:id="_5I1OQiOTEee69bN6ehHnlw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_5I6GwSOTEee69bN6ehHnlw">
        <outgoingTransitions xmi:id="_5I8jAyOTEee69bN6ehHnlw" target="_5I6t1yOTEee69bN6ehHnlw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_5I6t1yOTEee69bN6ehHnlw" name="StateA" incomingTransitions="_5I8jAyOTEee69bN6ehHnlw"/>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_5I1OQCOTEee69bN6ehHnlw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_5IzZECOTEee69bN6ehHnlw" measurementUnit="Pixel">
    <children xmi:id="_5I3qgCOTEee69bN6ehHnlw" type="Region" element="_5I1OQiOTEee69bN6ehHnlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_5I5fsCOTEee69bN6ehHnlw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5I5fsSOTEee69bN6ehHnlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5I5fsiOTEee69bN6ehHnlw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_5I5fsyOTEee69bN6ehHnlw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_5I6GwiOTEee69bN6ehHnlw" type="Entry" element="_5I6GwSOTEee69bN6ehHnlw">
          <children xmi:id="_5I6t0COTEee69bN6ehHnlw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_5I6t0yOTEee69bN6ehHnlw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_5I6t1COTEee69bN6ehHnlw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_5I6t1SOTEee69bN6ehHnlw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5I6t0SOTEee69bN6ehHnlw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5I6t0iOTEee69bN6ehHnlw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5I6GwyOTEee69bN6ehHnlw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_5I6GxCOTEee69bN6ehHnlw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5I6t1iOTEee69bN6ehHnlw" x="70" y="20"/>
        </children>
        <children xmi:id="_5I7U4iOTEee69bN6ehHnlw" type="State" element="_5I6t1yOTEee69bN6ehHnlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_5I778COTEee69bN6ehHnlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_5I778SOTEee69bN6ehHnlw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_5I778iOTEee69bN6ehHnlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5I778yOTEee69bN6ehHnlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_5I779COTEee69bN6ehHnlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5I779SOTEee69bN6ehHnlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_5I8jACOTEee69bN6ehHnlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_5I7U4yOTEee69bN6ehHnlw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_5I7U5COTEee69bN6ehHnlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_5I8jASOTEee69bN6ehHnlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5I8jAiOTEee69bN6ehHnlw" x="40" y="80"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5I5ftCOTEee69bN6ehHnlw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_5I3qgSOTEee69bN6ehHnlw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5I6GwCOTEee69bN6ehHnlw" x="220" y="10" width="400" height="400"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_5I-YMCOTEee69bN6ehHnlw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_5I-YMiOTEee69bN6ehHnlw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5I-YMyOTEee69bN6ehHnlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5I-YNCOTEee69bN6ehHnlw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_5I-YNSOTEee69bN6ehHnlw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5I-YNiOTEee69bN6ehHnlw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_5I-YNyOTEee69bN6ehHnlw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_5I1OQSOTEee69bN6ehHnlw"/>
    <edges xmi:id="_5I9xICOTEee69bN6ehHnlw" type="Transition" element="_5I8jAyOTEee69bN6ehHnlw" source="_5I6GwiOTEee69bN6ehHnlw" target="_5I7U4iOTEee69bN6ehHnlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_5I9xJCOTEee69bN6ehHnlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_5I9xJSOTEee69bN6ehHnlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_5I9xJiOTEee69bN6ehHnlw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_5I9xISOTEee69bN6ehHnlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_5I9xIyOTEee69bN6ehHnlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_5I9xIiOTEee69bN6ehHnlw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
